new/.tooling/uhub-sapi5b0de0ac-3088-4f02-9493-778d7a93ffbd/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a0dfab5-2b6d-4240-9fa7-26df719d9a59" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="register-covid-caseFlow" doc:id="6e8f48d4-1b37-45ef-be02-0551991f9858" >
		<http:listener doc:name="Listener" doc:id="4b9b1291-050d-4326-a4d7-eba83cffd5c1" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="af3aa2f6-9bc4-43ee-8c10-3ce0209996ff" message="#[payload]"/>
	</flow>
</mule>
