new/dataweave-demo/src/main/mule/dataweave-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweave-demoFlow" doc:id="bda48708-1378-462e-b2a2-2722c72843eb" >
		<ee:transform doc:name="Transform json to all types" doc:id="0d590e34-d236-4f10-987a-eb0fa70d4454" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
{
	empID: payload.empID,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow1" doc:id="84748190-2b5f-443e-96af-94e27f5820b5" >
		<ee:transform doc:name="Transform xml to all" doc:id="5bf8a4db-8b70-46df-898c-ccb3f1713313" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price,
		properties: {
			title: payload.book.title,
			author: (payload.book.title.@lang default "") ++ payload.book.author,
			year: payload.book.year,
			lungage: payload.book.title.@lang
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow2" doc:id="9a05df5d-a19a-4b55-a52e-b9e33bbc50ec" >
		<ee:transform doc:name="Transform attribute based json to xml" doc:id="bf4fc031-5b17-472f-8329-e08e1ccd761c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.lungage): payload.item.properties.title,
		year: payload.item.properties.year,
		price: payload.item.price,
		author @(loc: 'US'): payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow3" doc:id="3cd73b9e-7dd2-4f61-b72f-7b62a01cd6f9" >
		<ee:transform doc:name="json to csv" doc:id="e38e85f6-1d37-4dc6-bc1f-f78cf4222495" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
[{
	empID: payload.empID as String,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
