new/.tooling/uhub-sapia4e46318-61e6-45ec-ac1a-a7e25f881731/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a0dfab5-2b6d-4240-9fa7-26df719d9a59" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="3a3743ac-0cf0-4afe-a3f7-64f0a56cb546" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="register-covid-caseFlow" doc:id="870edf7b-a361-4dbe-9f8b-2c7730c089b7" >
		<http:listener doc:name="Listener" doc:id="a4226089-f7c2-4e96-9472-cb391d45a31f" config-ref="HTTP_Listener_config1" path="v1/cases" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="20c5d0cb-a5d8-4ec3-9426-d81f31e32ebf" message="#[payload]"/>
	</flow>
</mule>
